.btn-primary {
background-color: #cdae51;
border-color: #3F2B22;
color: #000000;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3F2B22;
  border-color: #333;
}

.glyphicon {
 color: #0086C3;
}